<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSS布局_实现五个元素水平排列，且始终左右间距为10px </title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    .container:after {
      content: '';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    .container {
      padding-left: 10px;
    }

    .container>div {
      float: left;
      height: 100px;
      width: 20%;
      box-sizing: border-box;
      padding: 10px 10px 10px 0;
    }

    .container>div>div {
      width: 100%;
      height: 100%;
      background: lightblue;
    }
  </style>
</head>

<body>
  <div class="container">
    <div>
      <div></div>
    </div>
    <div>
      <div></div>
    </div>
    <div>
      <div></div>
    </div>
    <div>
      <div></div>
    </div>
    <div>
      <div></div>
    </div>
  </div>
</body>

</html>